/* Mobile-friendly container */
.container {
    max-width: 400px; 
    margin: 0 auto;   
    padding: 10px;
}

form, input, textarea, button {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px; 
}


h1, h2, h3, h4, h5, h6 {
    cursor: default;
}

.app-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: white;
    border-top: 1px solid #ddd;
    padding: 10px 0;
}

.bottom-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bottom-nav a img {
    width: 24px;
    height: 24px;
    opacity: 0.7;
    transition: opacity 0.3s;
}

.bottom-nav a img:hover {
    opacity: 1;
}

.profile-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: scroll;
}

.profile-icon{
border-radius: 50%;
 height: 100px;
 width: 100px;
 overflow: hidden;
 display: flex;
 justify-content: center;
 align-items: center;

}



.edit-icon-div:hover #edit-icon {
    display: inline;
    cursor: pointer;
}

#edit-icon{
    width: 12px;
    display: none;
}


#pfp-edit-icon{
    width: 15px;
    position: absolute;
    display: none;

}

.pfp-edit-icon-div:hover #pfp-edit-icon {
    display: inline;
    cursor: pointer;
}

.pfp-edit-icon-div{
    display: flex;
    flex-direction: row;
}

#graph-container {
    width: 100%;  /* Make it responsive */
    max-width: 800px; /* Prevent it from stretching too much */
    height: auto;
    min-width: 350px;
}

#see-more-stats{
    text-decoration: none;
    color: gray;
}
#see-more-stats:hover{
    color: black;
}