<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Dashboard</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <h1>Welcome, {{ current_user.username }}!</h1>

  <p>You are now logged in to JournalApp.</p>

  <h2>Start your entry for today!</h2>    
    
    <form action="/submit_entry" method="POST">
        <textarea id="entry" name="entry" rows="10" cols="50" placeholder="Write your thoughts here..."></textarea><br>
        <button type="submit">Submit</button>
    </form>

  <p>
    <a href="{{ url_for('auth.logout') }}">Log Out</a>
  </p>

  {% include 'footer.html' %}
</body>
</html>
