<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Log In</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <h1>Log In</h1>

  <!-- Display flash messages -->
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class="flashes">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

  <form method="POST" action="{{ url_for('auth.login') }}">
    <div>
      <label for="username">Username</label>
      <input 
        type="text"
        id="username"
        name="username"
        placeholder="Enter your username"
        required
      />
    </div>
    <div>
      <label for="password">Password</label>
      <input 
        type="password"
        id="password"
        name="password"
        placeholder="Enter your password"
        required
      />
    </div>
    <button type="submit">Log In</button>
  </form>
  
  <p>
    Not our JournalApp user yet?
    <a href="{{ url_for('auth.signup') }}">Create an account here</a>.
  </p>
</body>

</html>
