<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <!-- icon div -->
    <div class="profile-div">
        <h3>Welcome, 
            <span class="edit-icon-div"> 
                <span id="nickname">{{current_user.nickname}}</span>
                <img id="edit-icon" src="{{url_for('static', filename='misc-icons/edit-icon.svg')}}" alt="">
        </span>

        </h3>

        <div class="pfp-edit-icon-div">
            <img src="{{ current_user.profile_pic if current_user.profile_pic else url_for('static', filename='nav-icons/profile-icon.svg') }}" alt="default profile pic" class="profile-icon">
            <img id="pfp-edit-icon" src="{{url_for('static', filename='misc-icons/edit-icon.svg')}}" alt="">
        </div>

        <p>
            You have written {{ current_user.user_stats["total_entries"] }} entries 
    and {{ current_user.user_stats["total_words"] }} words
            <br>
            since you joined us on March 1, 2020

            <br><br>

            that's an average of 3,728 days spent writing,
            <br>
            or 32.8 words a day
        </p>
        <div>
            <h3>stats overview</h3>
            stats here...

            <a href="{{ url_for('stats')}}">click for more..</a>
        </div>

       
    </div> 



    {% include 'footer.html' %}  
</body>
</html>