<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <!-- icon div -->
    <div class="profile-div">
        <h3>
            <span class="edit-icon-div"> 
                <span id="nickname">{{current_user.nickname}}</span>
                <img id="edit-icon" src="{{url_for('static', filename='misc-icons/edit-icon.svg')}}" alt="">
        </span>

        </h3>

        <div class="pfp-edit-icon-div">
            <img src="{{ current_user.profile_pic if current_user.profile_pic else url_for('static', filename='nav-icons/profile-icon.svg') }}" alt="default profile pic" class="profile-icon">
            <img id="pfp-edit-icon" src="{{url_for('static', filename='misc-icons/edit-icon.svg')}}" alt="">
        </div>

        <p>
            you have written {{ current_user.user_stats["total_entries"] }} entries 
            and {{ current_user.user_stats["total_words"] }} words
            <br>
            since you joined us on {{ current_user.join_date.strftime("%B %d, %Y") }}

            <br><br>

            that's an average of {{ days_spent_writing }} days spent writing,
            <br>
            or {{ avg_words_per_day }} words a day

            <br>


        </p>
        <div>
            <h3>your story at a glance</h3>
            <div id="graph-container">
                <p id="no-data-message" style="display: none; color: red;">Sorry, not enough data to show.</p>
                <div id="plotly-graph"></div>
            </div>
            <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

            <script>
                fetch("/profile/graph")
                    .then(response => response.json())
                    .then(data => {
                        if (data.error) {
                            document.getElementById("no-data-message").style.display = "block";
                        } else {
                            Plotly.newPlot("plotly-graph", JSON.parse(data).data, JSON.parse(data).layout, { displayModeBar: false,  staticPlot: true});
                        }
                    })
                    .catch(error => console.error("Error loading graph:", error));

            window.addEventListener('resize', function() {
                Plotly.Plots.resize('graph');
            });
            </script>
            <a href="{{url_for ('profile.stats')}}" id="see-more-stats">see more...</a>
        </div>

       
    </div> 



    {% include 'footer.html' %}  
</body>
</html>